Flask==2.2.5
python-dotenv==1.0.1
langchain==0.3.13
langchain-community==0.3.13
langchain-text-splitters==0.3.4
langchain-google-genai==2.0.8
langchain-pinecone==0.2.0
pinecone-client==5.0.1
google-auth==2.37.0
grpcio==1.68.1
pydantic==2.10.5
SpeechRecognition==3.10.0
Werkzeug==2.2.2
flask_cors
pypdf
pdf2image
pytesseract
scikit-learn